<div class="container-fluid pt-5">
    <app-logout></app-logout>
    <div class="">
        <div class="d-flex justify-content-center">
            <h2>AssignUsers for ProposalLetter</h2>
        </div>
        <div>
            <div class="row d-flex justify-content-center">
                <label><b>UserName :</b></label>
                <p class="px-3">{{ userDetails?.fullName }}</p>
            </div>
            <div class="row d-flex justify-content-center">
                <label><b>Email :</b></label>
                <p class="px-3">{{ userDetails?.email }}</p>
            </div>
            <div class="row d-flex justify-content-center">
                <label><b>Address :</b></label>
                <p class="px-3">{{ userDetails?.address }}</p>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center ">
                <form>
                    <div class="pt-3 mb-4">
                        <label class="pr-3" for="preparerId"><b>Preparer</b></label>
                        <select class="form-select" name="preparerId" [(ngModel)]="PL.preparerId">
                            <option *ngFor="let item of preparerList" value="{{item.id}}">{{item.fullName}}</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="pr-3" for="reviewerId"><b>Reviewer</b></label>
                        <select class="form-select" name="reviewerId" [(ngModel)]="PL.reviewerId">
                            <option *ngFor="let item of reviewerList" value="{{item.id}}">{{item.fullName}}</option>
                        </select>
                    </div>
                    <div class="">
                        <label class="pr-3" for="ApproverId"><b>Approver</b></label>
                        <select class="form-select" name="ApproverId" [(ngModel)]="PL.approverId">
                            <option *ngFor="let item of ApproverList" value="{{item.id}}">{{item.fullName}}</option>
                        </select>
                    </div>
                    <button class="btn btn-info" (click)="OnSubmit()">Assign </button>
                </form>
            </div>
        </div>
    </div>
</div>