<div class="container-fluid">
    <h2>Proposals</h2>
    <div *ngIf="requestPL === true && userrole === 2" class="pb-3">
        <button class="btn btn-info btn-sm hover" (click)="OnclickRequest()">Request Proposal</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Assessment Year</th>
                <th>Status</th>
                <th>Created On</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proposal of proposalList">
                <td>{{ proposal.id }}</td>
                <td>{{ proposal.assessmentYear }}</td>
                <td>{{ proposal.plstatusId }}</td>
                <td>{{proposal.createdOn | date: 'yyyy-MM-dd'}}</td>
                <td>
                    <a class="btn btn-info btn-sm" *ngIf="proposal.plstatusId === 'Approved'">Export PDF</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" routerLink="./{{proposal.id}}/PLcrud">View Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>