<div class="container-fluid">
    <app-logout></app-logout>
    <h2>PL Requests</h2>
    <div>
        <a class="btn btn-info btn-sm hover" routerLink="/PLList">Proposal List</a>
    </div>
    <div class="container-fluid pt-1 justify-content-between align-items-center">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>PLId</th>
                    <th>assessmentYear</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proposal of PLList">
                    <td>{{ proposal.userId }}</td>
                    <td>{{ proposal.id }}</td>
                    <td>{{ proposal.assessmentYear }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" routerLink="./{{proposal.id}}/AssignUser">Assign Users</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="d-flex justify-content-center" *ngIf="PLList.length === 0">There Is No New ProposalLetter Request
        </h2>
    </div>
</div>