<div class="container">


    <h2>ProposalLetter</h2>

    <div class="row">
        <p class="px-4">Full Name: {{ userDetails?.fullName }}</p>
        <p> Role: {{ userDetails?.role?.roleName }}</p>
    </div>
    <div class="row">
        <p class="px-4">Email: {{ userDetails?.email }}</p>
        <p>Address: {{ userDetails?.address }}</p>
    </div>
    <div class="row">

        <p class="px-4">Pan: {{ userDetails?.pan }}</p>
        <p>assessmentYear: {{ proposalLetter?.assessmentYear }}</p>
    </div>
    <!-- form List -->
    <div *ngFor="let form of PLforms;let i = index">
        <form [formGroup]="formGroupArray[i]" class="form pb-4">
            <mat-form-field class="form-content">
                <mat-label>Form Name</mat-label>
                <input matInput placeholder="Ex: Form 16 a" formControlName="name">
            </mat-form-field>

            <mat-form-field class="form-content">
                <mat-label>Form Content</mat-label>
                <textarea matInput placeholder="Ex. The Form Details..." formControlName="content"></textarea>
            </mat-form-field>
            <div class="row pe-5">
                <div class="px-4">
                    <button class="btn btn-dark" (click)="saveForm(i)">Save Form </button>
                </div>
                <div class="px-4">
                    <button class="btn btn-danger" (click)="deleteForm(i)">delete Form </button>
                </div>
            </div>
        </form>
    </div>
    <div class="pb-3">
        <a (click)="addNewForm()"><u>
                + Add Form
            </u></a>
    </div>
    <!-- E-sign import for approver -->
    <!-- <div *ngIf="canESign">
            <h4>Approve with E-signature</h4>
            <input type="file" (change)="uploadESign($event)" />
            <button (click)="approveProposalLetter()">Approve</button>
        </div> -->

    <div>
        <div class="row">
            <div class="px-4" *ngIf="isPreparer">
                <button class="btn btn-info" (click)="SendtoReviewer()">Send to Reviewer</button>
            </div>
            <div class="row" *ngIf="isReviewer">
                <div class="px-4">
                    <button class="btn btn-info" (click)="sendBackToPreparer()">Send Back to Preparer</button>
                </div>
                <div class="px-4">
                    <button class="btn btn-info" (click)="SendtoApprover()">Send to Approver</button>
                </div>
            </div>
            <div class="row " *ngIf="isApprover">
                <button class="btn btn-info" (click)="sendBackToReviewer()">Send Back to Reviewer</button>
                <button class="btn btn-info" (click)="ApproveProposalLetter()">Set as Approved</button>
            </div>
            <div class="px-4" *ngIf="isPreparer || isReviewer">
                <button class="btn btn-info" (click)="SetAsDraft()">Save as draft</button>
            </div>
        </div>
    </div>
</div>