<div class="container">
    <app-logout></app-logout>
    <h2>ProposalLetter</h2>

    <div class="row">
        <p class="px-4">Full Name: {{ userDetails?.fullName }}</p>
        <p> Role: {{ userDetails?.role?.roleName }}</p>
    </div>
    <div class="row">
        <p class="px-4">Email: {{ userDetails?.email }}</p>
        <p>Address: {{ userDetails?.address }}</p>
    </div>
    <div class="row">

        <p class="px-4">Pan: {{ userDetails?.pan }}</p>
        <p>assessmentYear: {{ proposalLetter?.assessmentYear }}</p>
    </div>
    <div *ngFor="let form of PLforms">
        <div class="row mt-4">
            <div class="col-md-2"><b class="text-dark">{{form.name}}</b></div>
            <div class="col-md-8">
                <p>{{form.content}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="isApprover && (!eSigned)" class="pb-3">
        <h4>Approve with E-signature</h4>
        <input type="file" (change)="uploadImage($event)" />
    </div>

    <img *ngIf="showImage" [src]="signImage" alt="Uploaded sign" class="thumbnail" />
    <div>
        <div class="row" *ngIf="isApprover">
            <div *ngIf="!isReviewerLess" class="px-3">
                <button class="btn btn-info" (click)="sendBackToReviewer()">Send Back to Reviewer</button>
            </div>
            <div *ngIf="isReviewerLess" class="px-3">
                <button class="btn btn-info" (click)="sendBackToReviewer()">Send Back to Preparer</button>
            </div>
            <button class="btn btn-info" (click)="ApproveProposalLetter()" [disabled]="!eSigned">Set as
                Approved</button>

        </div>
    </div>
</div>